<div class="main_body">
  <div class="prof-main">
    <div class="profile">
      <h2><%= @user.last_name %>さんのプロフィール</h2>
      <div class="prof-nb">
        <div class="prof-name">
        氏名：
          <%=@user.last_name %>
          <%= @user.first_name %>
        </div>
        <div class="prof-bday">
        誕生日：
          <%= @user.birth_day.strftime("%Y年%m月%d日") %>
        </div>
      </div>

      <div class="prof-address">
        <div class="prof-pcode">
          郵便番号：<%= @user.postal_code %>
        </div>
        <div class="prof-add">
          <%= @user.prefecture_code %>
          <%= @user.city %>
          <%= @user.street %>
          <%= @user.building %>
        </div>
      </div>

    <div class="scores-main">
      <div class="score-each">
        <h2><%= @user.last_name %>さんの点数一覧</h2>
        <div class="new-btn">
          <%= link_to "新規点数入力", new_score_path(@score), method: :get %>
        </div>
      </div>
        <ul class="score-list">
          <% @scores.each do |score| %>
            <li class="">
              <%=  link_to edit_score_path(score.id), method: :get do %>
                <div class="score-wrapper">
                  <div class="score-points">
                    <div class="grade-term">
                    <%= score.grade.name %> <%= score.term.name%>
                    </div>
                    <div class="points">
                    国語 <%=score.japanese %>　
                    数学 <%=score.mathematics %>　
                    英語 <%=score.english %>　
                    理科 <%=score.science %>　
                    社会 <%=score.social_studies %>　
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
    </div>

    </div>


  </div>
</div>