<div class="main_body">
  <div>
    <h2>
    <%= @user.last_name %>さんのプロフィール
    </h2>

    <div class="score">
      <%= link_to "点数入力はこちら", new_user_score_path(@user), method: :get %>
    </div>

    <p>氏名
    <%= @user.last_name %>
    <%= @user.first_name %>
    </p>

    <p>誕生日
    <%= @user.birth_day %>
    </p>

    <p>住所
    <%= @user.postal_code %>
    <%= @user.prefecture_code %>
    <%= @user.city %>
    <%= @user.street %>
    <%= @user.building %>
    </p>

  </div>
</div>